.Body {
  width: 100%;
  height: 900px;
  text-align: center;
  float: left;
}

.Sidebar {
  width: 20%;
  height: 900px;
  text-align: center;
  float: left;
  background-color: tan;
}

.Calendar {
  width: 80%;
  height: 900px;
  text-align: center;
  float: left;
  background: lightgoldenrodyellow;
}